In [14]:
import pandas as pd

In [15]:
#import tracker file

xlsx = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - GitHub Classroom Repo\angel_pythonmodulecode3\Extract table\tracker data\MasterProcurementTracker-apr2024-jul2025-exportjul252025.xlsx")

In [16]:
print(xlsx.sheet_names)

['Sheet1', 'BneLog', 'Master', 'Initiatives', 'LISTS', 'ICTKit', 'Restock', 'EUC iPads', 'PIVOTRpt']

In [17]:
# extract transformation

procurement_tracker = pd.read_excel(xlsx, sheet_name="Master", skiprows=4)
procurement_tracker = procurement_tracker.drop(columns=["Recharged", "RechgDate",
       "RechargedBy", "Funded", "Notes", "Requisition/PO",
       "Temp - Item details to be added in to Master Telephony Tracker",
       "Unnamed: 26", "Unnamed: 27", "Unnamed: 28", "Unnamed: 29"])
procurement_tracker = procurement_tracker.rename(columns={"`": "Request_Date", "BudgetCode": "Budget_Code", "BulkBucket": "Bulk_Bucket", "ISC ProjMgr": "ISC_ProjManager", "Service User": "Service_User", "CatalogueItem": "Catalogue_Item", "CollDate DD/MM/YYYY": "Collection_Date", "Requisition No:": "Requisition_No", "CostPerUnit": "Cost_PerUnit", "Total cost": "Total_Cost", "BPS Analyst ": "BPS_Analyst"})

In [18]:
procurement_tracker.dtypes

Request_Date        object
FY                  object
ALEMBA              object
Budget_Code         object
FP                  object
Bulk_Bucket         object
Funding             object
ISC_ProjManager     object
Site                object
Service_User        object
Type                object
Catalogue_Item      object
Cost_PerUnit       float64
QTY                float64
Status              object
Collection_Date     object
Total_Cost          object
Requisition_No      object
BPS_Analyst         object
dtype: object

In [19]:
tracker_parsed = procurement_tracker.copy()

In [20]:
tracker_parsed["parsed_Request_Date"] = pd.to_datetime(tracker_parsed["Request_Date"], format="%d/%m/%Y", dayfirst=True, errors="coerce")
tracker_parsed["parsed_QTY"] = pd.to_numeric(tracker_parsed["QTY"], errors="coerce").astype("Int64")
tracker_parsed["parsed_Total_Cost"] = pd.to_numeric(tracker_parsed["Total_Cost"], errors="coerce")
tracker_parsed["parsed_Collection_Date"] = pd.to_datetime(tracker_parsed["Collection_Date"], format="%d/%m/%Y", dayfirst=True, errors="coerce")
tracker_parsed["parsed_ALEMBA"] = pd.to_numeric(tracker_parsed["ALEMBA"], errors="coerce")

KeyError: 'ALEMBA'

In [ ]:
tracker_parsed

,Request_Date,FY,ALEMBA,Budget_Code,FP,Bulk_Bucket,Funding,ISC_ProjManager,Site,Service_User,...,QTY,Status,Collection_Date,Total_Cost,Requisition_No,BPS_Analyst,parsed_Request_Date,parsed_QTY,parsed_Total_Cost,parsed_Collection_Date
0,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19
1,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19
2,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,66,NaN,Angel,2025-01-22,1,66.0,2025-02-19
3,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19
4,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,2025-07-23 00:00:00,25-26,7846294,182660,NaN,NaN,NaN,NaN,RLH,Meera Manirajan,...,1.0,Procured,NaN,NaN,60878381,Johura,2025-07-23,1,NaN,NaT
1794,2025-07-23 00:00:00,25-26,2945915,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,1.0,Procured,NaN,NaN,60878409,Johura,2025-07-23,1,NaN,NaT
1795,2025-07-23 00:00:00,25-26,2945577,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,1.0,In progress,NaN,NaN,60878417,Johura,2025-07-23,1,NaN,NaT
1796,2025-07-14 00:00:00,25-26,2927229\t,ADM200,NaN,NaN,NaN,NaN,SBH,Anna-Kay Black for Michelle Walters,...,1.0,In progress,NaN,NaN,NaN,Johura,2025-07-14,1,NaN,NaT
1797,2025-07-10 00:00:00,25-26,2922849,CM9320,NaN,NaN,NaN,NaN,WCH,Sophia Clarke,...,1.0,In progress,NaN,NaN,NaN,Johura,2025-07-10,1,NaN,NaT

In [22]:
tracker_parsed = tracker_parsed.rename(columns={"ALEMBA ": "ALEMBA"})

In [25]:
tracker_parsed["parsed_ALEMBA"] = pd.to_numeric(tracker_parsed["ALEMBA"], errors="coerce").astype("Int64")

In [26]:
tracker_parsed

,Request_Date,FY,ALEMBA,Budget_Code,FP,Bulk_Bucket,Funding,ISC_ProjManager,Site,Service_User,...,Status,Collection_Date,Total_Cost,Requisition_No,BPS_Analyst,parsed_Request_Date,parsed_QTY,parsed_Total_Cost,parsed_Collection_Date,parsed_ALEMBA
0,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19,2622678
1,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19,2622678
2,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,Completed,2025-02-19 00:00:00,66,NaN,Angel,2025-01-22,1,66.0,2025-02-19,2622678
3,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19,2622723
4,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19,2622723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,2025-07-23 00:00:00,25-26,7846294,182660,NaN,NaN,NaN,NaN,RLH,Meera Manirajan,...,Procured,NaN,NaN,60878381,Johura,2025-07-23,1,NaN,NaT,7846294
1794,2025-07-23 00:00:00,25-26,2945915,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,Procured,NaN,NaN,60878409,Johura,2025-07-23,1,NaN,NaT,2945915
1795,2025-07-23 00:00:00,25-26,2945577,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,In progress,NaN,NaN,60878417,Johura,2025-07-23,1,NaN,NaT,2945577
1796,2025-07-14 00:00:00,25-26,2927229\t,ADM200,NaN,NaN,NaN,NaN,SBH,Anna-Kay Black for Michelle Walters,...,In progress,NaN,NaN,NaN,Johura,2025-07-14,1,NaN,NaT,2927229
1797,2025-07-10 00:00:00,25-26,2922849,CM9320,NaN,NaN,NaN,NaN,WCH,Sophia Clarke,...,In progress,NaN,NaN,NaN,Johura,2025-07-10,1,NaN,NaT,2922849

In [35]:
# error - missing field draft
import datetime

mandatory_fields = ["parsed_Request_Date", "FY", "parsed_ALEMBA", "Budget_Code", "Site", "Service_User", "Type", "Catalogue_Item", "Cost_PerUnit", "QTY", "Status", "Total_Cost", "Requisition_No", "BPS_Analyst"]
source_system = "TRACKER"
data_period = "23-24 to 24-25"
date_checked = datetime.date.today()

In [60]:
# missing field error
summary_records = []
for field in mandatory_fields:
    missing_count = tracker_parsed[field].isna().sum()
    summary_records.append({
        "error_type": "Missing Field",
        "source_system": source_system,
        "data_period": data_period,
        "date_checked": date_checked,
        "field_name": field,
        "count": missing_count
    })



# format error / invalid format
for field in mandatory_fields:
    raw_field = field.replace("parsed_", "")
    format_error_count = tracker_parsed[tracker_parsed[raw_field].notna() & tracker_parsed[field].isna()].shape[0]
    summary_records.append({
        "error_type": "Invalid format",
        "source_system": source_system,
        "data_period": data_period,
        "date_checked": date_checked,
        "field_name": field,
        "count": format_error_count
    })

In [61]:
error_summary = pd.DataFrame(summary_records)

error_summary["field_name"] = error_summary["field_name"].str.replace(r"^parsed_", "", regex=True)



field_names_report = {
    "Request_Date": "Request Date",
    "Budget_Code": "Budget Code",
    "Service_User": "Service User",
    "Catalogue_Item": "Catalogue Item",
    "Cost_PerUnit": "Cost Per Unit",
    "Total_Cost": "Total Cost",
    "Requisition_No": "Requisition Number",
    "BPS_Analyst": "BPS Analyst"
}

error_summary["field_name"] = error_summary["field_name"].replace(field_names_report)

In [62]:
error_summary

,error_type,source_system,data_period,date_checked,field_name,count
0,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Request Date,6
1,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,FY,0
2,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,ALEMBA,215
3,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Budget Code,52
4,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Site,75
5,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Service User,1
6,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Type,25
7,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Catalogue Item,3
8,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Cost Per Unit,34
9,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,QTY,6
10,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Status,3
11,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Total Cost,18
12,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,Requisition Number,1355
13,Missing Field,TRACKER,23-24 to 24-25,2025-07-29,BPS Analyst,0
14,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Request Date,2
15,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,FY,0
16,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,ALEMBA,193
17,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Budget Code,0
18,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Site,0
19,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Service User,0
20,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Type,0
21,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Catalogue Item,0
22,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Cost Per Unit,0
23,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,QTY,0
24,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Status,0
25,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Total Cost,0
26,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,Requisition Number,0
27,Invalid format,TRACKER,23-24 to 24-25,2025-07-29,BPS Analyst,0